body {
  padding: 2rem;
}
/*overskift*/
h1 {
  margin-top: 3.2rem;
  text-align: center;
}

hr {
  grid-column: 1/6;
  margin-top: 2rem;
}

img {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/*grid responsivt*/
@media (min-width: 320px) {
  /*overskift*/
  h1 {
    margin-top: 3.2rem;
    text-align: center;
  }

  /*introduktion layout*/

  hr {
    grid-column: 1/6;
  }
}

@media (min-width: 481px) {
  /*overskift*/
  h1 {
    margin-top: 3.2rem;
    text-align: center;
  }

  hr {
    grid-column: 1/6;
  }

  /* } */
  @media (min-width: 769px) {
  }

  /*mellemrum mellem billeder+tekst i mobil*/
  h2 {
    margin-top: 0.5rem;
  }

  /* p {
    margin-bottom: 3rem;
  }
} */
  @media (min-width: 1025px) {
    /*mellemrum mellem billeder+tekst i mobil*/
    h2 {
      margin-top: 1rem;
    }

    .text_1 {
      margin-left: 1.5rem;
    }
  }
}
