body {
  padding: 2rem;
}
.text {
  display: grid;
  grid-template-columns: 1/2;
  margin: 2rem;
}
/*overskift*/
h1 {
  margin-top: 3.2rem;
  text-align: center;
}
h2 {
  padding-bottom: 2.5rem;
  text-align: center;
}

p {
  justify-content: center;
  line-height: 2.5rem;
}
/* .img_1 {
  max-width: 100%;
  object-fit: cover;
  min-height: 100%;
} */
.moodboard {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*media query*/
/* dette er når det er i web*/
@media (min-width: 900px) {
  .text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3rem;
    padding-bottom: 7rem;
    gap: 1.5rem;
    justify-content: center;
    line-height: 1.5rem;
  }

  /* .text2 {
    text-align: center;
  } */
}
